.container {
  width: 90%;
  max-width: 117rem;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid transparent;
  padding: 10px;
  z-index: 100;
}
header.bg-white {
  background-color: white;
}
header .header_menu {
  display: flex;
  width: 100%;
}
header .header_menu .header_menu_nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header_menu .header_menu_listado {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
header .header_menu .header_menu_listado li a {
  color: #9b9b9b;
}
header .header_menu .header_menu_imagen img {
  max-width: 80%;
}
header .header_menu li.active a {
  color: #191919;
}

.imagen_portada {
  background-image: url(img/bg-portada.jpg);
  background-image: url(img/bg-portada.jpg);
  height: 700px;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  background-position: top;
}
.imagen_portada .centrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imagen_portada .titulo_principal {
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 5rem;
  margin-bottom: 1rem;
  color: #191919;
  font-weight: 600;
}
.imagen_portada .parrafo_principal {
  font-size: 23px;
  margin-bottom: 1rem;
}
.imagen_portada .link_conoce-mas {
  background: #191919;
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 17rem;
  padding: 1rem 0;
  font-size: 1rem;
}

.servicios_padding {
  padding-top: 8rem;
}
.servicios_padding .titulo_servicios {
  font-size: 30px;
  color: #191919;
  margin-bottom: 11px;
  font-weight: 600;
  text-align: center;
}
.servicios_padding .servicios_parrafo {
  font-size: 17px;
  text-align: center;
  color: #9b9b9b;
}
.servicios_padding .servicios_contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 5rem;
  border-bottom: 1px solid #eee;
}
.servicios_padding .servicios_planes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.servicios_padding .servicios_icono i {
  font-size: 70px;
  padding-bottom: 15px;
  color: #191919;
}
.servicios_padding .servicios_planes h3 {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #191919;
}
.servicios_padding .servicios_planes p {
  font-size: 15px;
  line-height: 20px;
  color: #777;
}
.servicios_padding .servicios_planes_titulo {
  max-width: 70%;
}

.galeria_titulo {
  padding-top: 5rem;
}
.galeria_titulo h2 {
  font-size: 30px;
  color: #191919;
  margin-bottom: 11px;
  font-weight: 600;
  text-align: center;
}
.galeria_titulo p {
  font-size: 20px;
  color: #9b9b9b;
  text-align: center;
}

.galeria_contenido {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.galeria_contenido .galeria_imagenes img {
  max-width: 100%;
  vertical-align: top;
}
.galeria_contenido .galeria_imagenes {
  width: 33%;
  position: relative;
}
.galeria_contenido .galeria_parrafo_centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.galeria_contenido .galeria_parrafo_centrado h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.galeria_contenido .galeria_parrafo_centrado p {
  color: #fff;
  font-size: 16px;
}
.galeria_contenido .galeria_bg_imagen:hover {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 25, 0.8);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.galeria_contenido .galeria_bg_imagen {
  opacity: 0;
}

.atencion_contenido {
  text-align: center;
  background: #191919;
  padding: 90px 0px 90px 0px;
}
.atencion_contenido .atencion_link a {
  background: #fff;
  color: #191919;
  display: inline-block;
  text-align: center;
  width: 100%;
  max-width: 15rem;
  padding: 18px;
}
.atencion_contenido .atencion_link a:hover {
  background: rgba(255, 255, 255, 0.9);
}
.atencion_contenido .atencion_titulo {
  padding-bottom: 34px;
  font-size: 35px;
  color: #fff;
}

.nosotros_contenido {
  padding-top: 90px;
  padding-bottom: 90px;
  background: rgba(25, 25, 25, 0.02);
}
.nosotros_contenido .nosotros_titulo {
  text-align: center;
  line-height: 34px;
}
.nosotros_contenido .nosotros_titulo h2 {
  font-size: 31px;
  font-weight: 600;
}
.nosotros_contenido .nosotros_titulo p {
  color: #9b9b9b;
}
.nosotros_contenido .nosotros_testimonios {
  width: 26%;
  background: #fff;
  text-align: center;
  padding: 30px 5px 50px 5px;
  box-shadow: 1px 3px 3px rgba(25, 25, 25, 0.08);
  transition: all 0.3s ease;
}
.nosotros_contenido .nosotros_testimonios:hover {
  box-shadow: 2px 4px 15px 5px rgba(25, 25, 25, 0.08);
}

.nosotros_bg {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 7rem;
}

.nosotros_testimonios_imagen img {
  border-radius: 50%;
}

.nosotros_testimonios_imagen {
  padding-bottom: 20px;
}

.testimonio_parrafo {
  color: #777;
}

.testimonio_parrafo::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background: #eee;
  margin: 4rem auto;
}

.testimonio_empresa {
  color: #9b9b9b;
  font-size: 14px;
}

.testimonio_nombre {
  padding-bottom: 10px;
}

.seccion_contactanos {
  padding-top: 9rem;
}
.seccion_contactanos .contactanos_titulo {
  text-align: center;
  line-height: 38px;
}
.seccion_contactanos .contactanos_titulo h2 {
  font-size: 40px;
  font-weight: 600;
}
.seccion_contactanos .contactanos_titulo p {
  color: #9b9b9b;
}
.seccion_contactanos .contactanos_portada {
  background-image: url(img/bg-portada.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 9rem 0;
  margin-top: 7rem;
}
.seccion_contactanos .contactanos_div {
  display: -webkit-box;
  padding-left: 60px;
}
.seccion_contactanos .contactanos_contenido {
  width: 50%;
  padding-bottom: 50px;
  line-height: 30px;
}
.seccion_contactanos .contacto_blanco {
  background-color: white;
  width: 100%;
  max-width: 50%;
  padding: 48px;
  font-size: 12px;
}
.seccion_contactanos .contactanos_contenido p {
  font-size: 14px;
  color: #777;
}

footer {
  background: #191919;
  padding: 5rem 0;
}
footer .footer_parrafo {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  header .header_menu .header_menu_listado {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .seccion_contactanos .contacto_blanco {
    background-color: white;
    width: 100%;
    max-width: 78%;
    padding: 22px;
    font-size: 12px;
  }

  .seccion_contactanos .contactanos_portada {
    background-image: url(img/bg-portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 5rem 0;
    margin-top: 7rem;
  }

  footer {
    background: #191919;
    padding: 4rem 0;
  }

  footer .footer_parrafo {
    font-size: 16px;
    color: #fff;
    text-align: center;
  }
}
@media (max-width: 767px) {
  header .header_menu .header_menu_listado {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 10px;
    line-height: 22px;
    padding-top: 10px;
  }

  header .header_menu .header_menu_imagen img {
    max-width: 50%;
  }

  header .header_menu {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .header_menu_imagen {
    text-decoration: none;
    text-align: center;
  }

  .imagen_portada .titulo_principal {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 4rem;
    margin-bottom: 1rem;
    color: #191919;
    font-weight: 600;
  }

  .imagen_portada .parrafo_principal {
    font-size: 16px;
    margin-bottom: 1rem;
  }

  .servicios_padding .servicios_parrafo {
    font-size: 14px;
    text-align: center;
    color: #9b9b9b;
  }

  .servicios_padding .titulo_servicios {
    font-size: 23px;
    color: #191919;
    margin-bottom: 11px;
    font-weight: 600;
    text-align: center;
  }

  .servicios_padding .servicios_planes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 60px;
  }

  .servicios_padding .servicios_contenido {
    display: inherit;
    justify-content: inherit;
    align-items: initial;
    padding-top: 80px;
    padding-bottom: 5rem;
    border-bottom: 1px solid #eee;
  }

  .servicios_padding .servicios_planes p {
    font-size: 13px;
    line-height: 20px;
    color: #777;
  }

  .galeria_titulo p {
    font-size: 15px;
    color: #9b9b9b;
    text-align: center;
  }

  .galeria_titulo h2 {
    font-size: 23px;
    color: #191919;
    margin-bottom: 11px;
    font-weight: 600;
    text-align: center;
  }

  .galeria_contenido {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  .galeria_contenido .galeria_imagenes {
    width: 100%;
    position: relative;
  }

  .atencion_contenido .atencion_link a {
    background: #fff;
    color: #191919;
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 13rem;
    padding: 14px;
  }

  .atencion_contenido .atencion_titulo {
    padding-bottom: 34px;
    font-size: 22px;
    color: #fff;
  }

  .nosotros_contenido .nosotros_titulo h2 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
  }

  .nosotros_contenido .nosotros_titulo {
    text-align: center;
    line-height: 24px;
  }

  .nosotros_contenido .nosotros_titulo p {
    color: #9b9b9b;
    font-size: 14px;
  }

  .nosotros_contenido .nosotros_testimonios {
    width: 100%;
    background: #fff;
    text-align: center;
    padding: 30px 0px 50px 0px;
    box-shadow: 1px 3px 3px rgba(25, 25, 25, 0.08);
    transition: all 0.3s ease;
    margin-bottom: 30px;
  }

  .seccion_contactanos .contactanos_titulo h2 {
    font-size: 26px;
    font-weight: 600;
  }

  .seccion_contactanos .contactanos_portada {
    background-image: url(img/bg-portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 4rem 0;
    margin-top: 0rem;
  }

  .seccion_contactanos .contacto_blanco {
    background-color: white;
    width: 100%;
    max-width: 65%;
    padding: 50px 72px 50px 27px;
    font-size: 12px;
  }

  .seccion_contactanos .contactanos_div {
    display: -webkit-box;
    padding-left: 0px;
  }

  .seccion_contactanos .contactanos_contenido {
    width: 67%;
    padding-bottom: 37px;
    line-height: 20px;
  }

  .seccion_contactanos .contactanos_contenido p {
    font-size: 11px;
    color: #777;
  }

  footer {
    background: #191919;
    padding: 3rem 0;
  }

  footer .footer_parrafo {
    font-size: 14px;
    color: #fff;
    text-align: center;
  }
}

/*# sourceMappingURL=app.css.map */
